<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="2c316518-5a4f-4732-ae6e-8fe12880c5bd" Publisher="CN=Ricardo" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AdventureWorksCatalog.Windows</DisplayName>
    <PublisherDisplayName>Ricardo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AdventureWorksCatalog.Windows.App">
      <m2:VisualElements DisplayName="AdventureWorks Catalog" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="AdventureWorks Catalog for Windows 8.1" ForegroundText="light" BackgroundColor="#FFFFFF">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>